# Sensitive information
.env

# Node.js specific
node_modules/
npm-debug.log

# Build artifacts
dist/
build/

# Log files
logs/
*.log

# Temporary files
tmp/
backend/.env
.DS_Store
college_data_processor/data/*.xlsx
college_data_processor/src/collegedata.json
README.md
backend/data/college*.json
backend/.DS_Store
college_data_processor/data/college*.json
college_data_processor/data/IPEDS Data Variables Selected.pdf
.gitignore
college_data_processor/data/*.csv
college_data_processor/data/*.xlsx
college_data_processor/data/Tuition.csv
